* {
    box-sizing: border-box;
}

#logo{
    display: inline;
    float: left;
}

header {
    top: 0;
    width: 100%;
    background-color: white;
    position: fixed;
    left: 0;
}

nav {
    float: right;
    font-size: medium;
    text-align: left;
}

nav a {
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    color: blue;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav li:hover{
    color: red;
    font-weight: bold;
}

body {
    background-image: url(../img/pattern.jpg);
    font-family: sans-serif;
}

h1{
    text-align: center;
    color: black;   
}

section {
    border: solid white;
    background-color: white;
    margin: 80px;
    margin-bottom: 25px;
}

section #article-list a {
    text-decoration: none;
}

footer {
    background-color: black;
    color: white;
    padding: 1px;
    text-align: center;
    font-size: large;
}